<!-- A ideia de utilizar esta estrutura de arquivos base.html, partials é para não ter que usar os mesmos códigos html que tem no começo de todo html -->
<!-- Caso fosse ter mais de 2 rotas, iriamos utilizar tudo no menu para criar.-->
{% extends 'base.html' %}    
{% load static %}

{% block content %}
    
    <!-- Título -->
    <title>Canes Grill - Home</title>
</head>

<body>

    {% include "partials/menu.html" %}

     <!-- ##### Best Receipe Area Start ##### -->
     <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                
                {% for prato in lista_pratos %}
                    <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">

                            {% if prato.foto_prato == '' %}
                                <img src="{% static '/img/bg-img/foto_receita.png' %}" alt="">
                            {% else %}                            
                                <img src="{{ prato.foto_prato.url }}" alt="">
                            {% endif %} 

                            <div class="receipe-content">
                                <a href="{% url 'churrasco' prato.id %}">
                                    <h5>{{ prato.nome_prato }}</h5>
                                    <h5>{{ prato.categoria }}</h5>
                                </a>
                                <h6>Por: {{ prato.funcionario }} </h6>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    
    <!-- ##### Footer Area Start ##### -->

    {% include "partials/footer.html" %}
{% endblock %} 
